<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
   Aceasta <a href="https://licentaboaca.heroku.com">aplicatie web</a>
  e un proiect propriu pentru a invata web development
  cu <a href="http://rubyonrails.org/">Ruby on Rails</a>. Pagina rezervata AJUTOR/HELP.
</p>
