<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Bine aţi venit!</h1>

  <h2>
    Aceasta este pagina HOME/ACASA !
  </h2>

  <%= link_to "Sign up now! / Înregistrează-te", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
